/*****************************************************************************/
/* Common
/*****************************************************************************/

html, body {
    background: #fdf6e3;
}

body {
    font-family: monospace, sans-serif;
    color: #657b83;
}

h1 { color: #586e75; }

a, a:active, a:visited { color: #2aa198; }
a:hover { color: #6c71c4 }

/*****************************************************************************/
/* Site
/*****************************************************************************/

.site {
    max-width: 42em;
    margin-top: 2em;
    margin-right: auto;
    margin-bottom: 2em;
    margin-left: auto;
}

.title {
    font-weight: bold;
}

.site .title a  {
    text-decoration: none;
}

/*****************************************************************************/
/* Home
/*****************************************************************************/

ul.posts {
    padding: 0;
    list-style-type: none;
}

ul.posts li {
    line-height: 1.75em;
}

/*****************************************************************************/
/* Posts
/*****************************************************************************/

#post pre {
    padding: 1em;
}

#post code {
    padding: .2em;
    background-color: #eee8d5
}

#post pre code {
    padding: .0em;
}