/*****************************************************************************/
/* Common
/*****************************************************************************/

html, body {
    background: #fdf6e3;
    height: 100%;
}

body {
    font-family: monospace, sans-serif;
    color: #657b83;
}

h1 { color: #586e75; }

a, a:active, a:visited { color: #2aa198; }
a:hover { color: #6c71c4 }

/*****************************************************************************/
/* Site
/*****************************************************************************/

.site {
  text-align: left;
  max-width: 42em;
  margin: 3em auto 2em auto;
}

.title {
  font-weight: bold;
}

  .site .title a  {
   text-decoration: none;
  }

/*****************************************************************************/
/* Home
/*****************************************************************************/

ul.posts {
  padding: 0;
  list-style-type: none;
  margin-bottom: 2em;
}

  ul.posts li {
    line-height: 1.75em;
  }

  ul.posts span {
    color: #93a1a1;
    font-family: Monaco, monospace;
    font-size: 80%;
  }

/*****************************************************************************/
/* Posts
/*****************************************************************************/

#post pre {
    padding: .1em .4em .2em .4em;
    /*border: 1px solid #ddd;*/
}

#post code {
    padding: .1em .2em ;
    background-color: #eee8d5
}

#post pre code {
    padding: .0em .0em ;
}