<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en-us">
<head>
    <meta http-equiv="content-type" content="text/html; charset=utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ page.title }}</title>
    <link rel="stylesheet" href="/css/pygments-syntax-highlight.css" type="text/css"/>
    <link rel="stylesheet" href="/css/screen.css" type="text/css" media="screen, projection"/>
</head>
<body>

<div class="site">
    <div class="title">
        <a class="extra" href="/">home</a>
        <b>|</b>
        <a class="extra" href="https://github.com/oryanm" target="_blank">src</a>
        <b>|</b>
        <a class="extra" href="/prog">pltl</a>
    </div>

    {{ content }}

</div>

</body>
</html>
